{{define "main/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>OAuth GitHub</title>
</head>
<body>
Logging in...
<script>
    window.onload = function () {
        window.opener.postMessage("{{.token}}", "http://localhost:5173");
        window.close();
    }
</script>
</body>
</html>
{{end}}